@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common styles */
body{
    font-family: Poppins;
    color: #FFFFFF;

}

/* Heading-style */
.heading-container{
    background-color: navy;
    position:relative;
    width: 1500px;
    height: 670px;
    margin:-8px;
    padding-right: 19.5px; 
    
}
.heading
{
    display: flex;
}
.heading-properties h1
{
    font-size: 64px;
    font-weight: bold;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 27px;
    margin-right: 64px;
}

.heading-properties img
{
    width: 550px;
    height: 450px;
    padding-left: 80px;
    margin-top: 135px;
    margin-right: 83px;
    margin-left: 35px;
    margin-bottom: 50px;


}
.button{
    text-decoration: none;
    color: oldlace;
    background-color: #E02C6D;
    font-size: 15px;
    padding: 15px 50px;
    margin-left: 156px;
    margin-bottom: 169px;
    margin-top: 27px ;
}

/* players-images and styles */
.players-album
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 210px;
    margin-right: 200px;
}
.players-frame
{
    width: 280px;
    height: 480px;
    background: #FFFFFF;
    margin-right: 30px;
    margin-top: 40px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player-photo img
{
    width: 250px;
    height: 170px;
    margin-top:15px ;
    margin-right: 15px;
    margin-left: 15px;
}
.about h2{
    color:#18191F;
    font-size: 28px;
    font-weight: bold;
    padding-left: 15px;


}
.about p{
    color:#6C6C6C;
    font-size: 13px;
    text-align:left;
    padding-left: 15px;
    padding-right: 15px;

}

/* watch live */
.live-container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.watch-live h2{
    font-size: 48px;
    font-weight: bold;
    color: #0A0826;
    margin-left: 210px;
    margin-top: 200px;

}
.watch-live p{
    font-size: 16px;
    color: #6C6C6C;
    margin-left: 210px;
    margin-bottom: 15px;
    display: block;
    text-align: left;
}
.helight-picture img{
    width: 400pxx;
    height: 350px;
    margin-top: 200px;
    margin-left: 4px;
    margin-right: 200px;
    filter: drop-shadow(5px 5px 5px #222);
}
#watch-live-button{
    margin-left: 210px;
   

}

/* Logos,copyright,links sections */
.items-container
{
    display: flex;
    justify-content: center;
    
}
.items
{
    width: 300px;
    margin-top: 130px;
    

}
.logo img{

    width: 400px;
    height: 100px;
    margin: right 22px ;
}
.links>a>img{
    width: 37px;
    height: 37px;
    margin-left: 35px;
    margin-top: 20px;
}
footer
{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}